:root {
    --light-main: #B8B8B8;
    --main: #828C91;
    --accent: #6096BA;
    --background: #FCFCFC;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
    max-height: 30em;
    overflow-y: scroll;
}

.small-card {
    background-color: var(--background);
}

.small-card > .small-card-header {
    padding: 1em;
}

.small-card > .small-card-body {
    padding: 1em;
    min-height: 5em;
}

.small-card > .small-card-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}