/* Styles die spezifisch auf einzelnen Cards angewandt werden müssen */
.detailcontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 1em;
    row-gap: 1em;
}

.info-container {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto;
     column-gap: 1em;
     row-gap: 1em;
    margin-bottom: 10px;
 }

.text-right.open-hours .info-container {
    margin-bottom: 0px;
}

.detail-picture {
    grid-column: 1;
    grid-row: 1/span 2
}

.detail-info {
    grid-column: 1;
    grid-row: 3
}

.detail-contact {
    grid-column: 2;
    grid-row: 1/span 2
}

.detail-feedback {
    grid-column: 2;
    grid-row: 3;
}

.mapcontainer {
    display: grid;
    grid-template-columns: auto auto;
}

.mapimage {
    grid-column: 1;
}

.filter {
    background-color: var(--main);
    border-radius: 4px 4px 4px 4px;
}

.mapfilter {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: var(--light-main);
    grid-row-gap: 10px;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}

.mapfilterheader {
    color: var(--background);
    margin-top: 0;
    margin-bottom: 0.3em;
    padding: 0.6em;
    padding-bottom: 0;
    margin-left: 15px;
}

#map-filter-body-header {
    grid-row: 1;
    margin: 0;
}

.mapfilter .mapfilterbody {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
}


#filter-search-headline {
    grid-row: 3;
}

.mapfilter .map-filter-schools {
    grid-row: 4;
}

.mapfilter .mapfilterfooter {
    grid-row: 5;
}

#detail-headline {
    margin-top: 0;
    margin-bottom: 10px;
}

.info-container > .text-left {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

.info-container > .text-right {
    text-align: right;
    grid-column: 2;
    grid-row: 1;
}

.filter-button {
    width: 80%;
    min-width: 120px;
}
#gymnasien {
    background-color: darkorange;
}
#oberschulen {
    background-color: dodgerblue;
}
#bbs {
    background-color: goldenrod;
}
#gesamtschulen {
    background-color: blueviolet;
}
#grundschulen {
    background-color: limegreen;
}

.impressum-body p {
    margin-top: 5px;
    margin-bottom: 20px
}