@import "card-styles.css";
@import "feedback-styles.css";
@import "search-styles.css";
@import "specific-styles.css";
@import "layout-styles.css";
@import "imageslider.css";

:root {
    --light-main: #B8B8B8;
    --main: #828C91;
    --accent: #6096BA;
    --background: #FCFCFC;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow-x: hidden; 
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 0.5em;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: var(--light-main);
  border-radius: 5px;
}
.school-cards-container::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}

/*Input Styles */

.input {
    padding: 5px 7px;
    border-radius: 4px;
    border: none;
    justify-content: space-evenly;
}

/*Button Sytles */

.default-button {
    background: #6096BA;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    padding: 8px 11px;
    color: #FCFCFC;
}

.button-size {
    width: 100px;
}

.subtitle {
    font-size: 25px;
}


nav > .logo {
    grid-column-start: 2;
    grid-column-end: 2;
}

input {
    margin: 0.3em;
    padding: 0.1em;
}

/* Footer Grid Styles */

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

/* Header Style */

.header {
    grid-column: 3 /span 8;
}

#indexheader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.menu {
    float: right;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #FCFCFC;
    margin: 0 10px;
    line-height: 70px;
    border-color: var(--background);
    padding: 5px;
    background: var(--light-main);
    border-radius: 5px 5px 5px 5px;
}
/* funktioniert noch nicht, kp wieso, padding nur zum Testen */
.menu#searchSchool a {
    background:gray;
    padding:5em;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 954px) {

    label {
        display: block;
        float: right;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        background-color: var(--main);
    }

    #toggle:checked + .menu {
        grid-column: 1 /span 8;
        display: block;
    }

    .main-container {
        margin-right: 0px;
        margin-left: 0px;
    }
}



