.slider_custom {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.slide_custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5 ease-in-out;
}

.slide_custom.current {
    opacity: 1;
}
.slide_custom .content h2 {
     margin-bottom: 10px;
}

.slider_custom .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(252, 252, 252, 0.8);
    color: var(--dark-main);
    padding: 35px;
}

.slide_custom.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button {
    border: 2px solid var(--background);
    background-color: transparent;
    color: var(--background);
    cursor: pointer;
    padding: 13px 15px;
    outline: none;
}

.buttons button:hover {
    background-color: var(--background);
    color: var(--dark-main);
}

@media(max-width: 500px) {
    .slide_custom .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide_custom.current .content {
        transform: translateY(-300px);
    }
}

/* School images */

.slide_custom:first-child{
    background: url('assets/images/caeci1.jpg') no-repeat center center/cover;
}

.slide_custom:nth-child(2){
    background: url('./assets/images/gag1.jpg') no-repeat center center/cover;
}
.slide_custom:nth-child(3){
    background: url('./assets/images/geo1.jpg') no-repeat center center/cover;
}
.slide_custom:nth-child(4){
    background: url('./assets/images/hgo1.jpg') no-repeat center center/cover;
}
.slide_custom:nth-child(5){
    background: url('./assets/images/hls1.jpg') no-repeat center center/cover;
}
.slide_custom:nth-child(6){
    background: url('./assets/images/lfs1.jpg') no-repeat center center/cover;
}
.slide_custom:nth-child(7){
    background: url('./assets/images/waldorf1.jpg') no-repeat center center/cover;
}