/* Spezielles Design für den FeedBack Container */
.subtitle {
    text-align: left;
}

.rating > p {
    font-size: 20px;
    margin: 0px;
    margin-left: 7px;

}

.rating > textarea {
    resize: none;
    width: 25em;
    height: 7em;
    direction: ltr;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.star {
    font-size: 22px;
    color: black;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    font-size: 22px;
    content: "\2605";
    position: absolute;
}
