
/* Spezielles Design für den FeedBack Container */
.subtitle {
    text-align: left;
}

.rating > p{
    font-size: 15px;
    margin: 0px      
}
.rating > textarea {
    resize: none;
    width: 25em;
    height: 7em;
}

.rating {
    unicode-bidi: bidi-override;
    direction: ltr;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.star {
    font-size: 20px;
    color: black;
}

.rating > span:hover:before,
.rating > span:hover~span:before {
    font-size: 20px;
    content: "\2605";
    position: absolute;
}