:root {
    --light-main: #B8B8B8;
    --main: #828C91;
    --accent: #6096BA;
    --background: #FCFCFC;
}

.search-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.school-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
    max-height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.small-card {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: var(--background);
    margin: 1em;
    border-radius: 5px;
    color: var(--main);
    width: 250px;
}

.small-card > .small-card-header {
    justify-content: center;
    grid-row: 1;
}

.small-card-header > h2 {
    align-self: center;
    margin: 0 0 0 0;
}

.small-card > .small-card-body {
    grid-row: 2;
    min-height: 5em;
}

.card-list {
    list-style-type: none;
    margin: 0;
    padding-left: 34px;
}

.card-list li:before {
    content: '\2014';
    margin-left: -25px;
    margin-right: 8px;
}

.small-card > .small-card-footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    font-size: 20px;
}

@media(max-width: 1200px) {
    .school-cards-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 900px) {
    .school-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 700px) {
    .school-cards-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1250px){
    .search-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 0.5em;
        justify-content: stretch;
    }}